<div class="row" ng-controller="WoodPaintingController as woodPaintingCtrl">
    <div masonry masonry-options="{ transitionDuration: '1.3s' }">
        <div  ng-repeat="woodPainting in woodPaintingCtrl.woodPaintings">
            <div class="masonry-brick">
                <div class="caption">
                    <h3>{{ woodPainting.title }}</h3>

                    <p>{{ woodPainting.description }}</p>
                </div>
                <a ng-click="woodPaintingCtrl.openLightboxModal($index)">
                    <img style="max-width: 200px" ng-src="{{ woodPainting.thumb }}"/>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>