<div class="row">
    <div class="col-md-6 text-uppercase text-justify">
        <img style='float:left;width:100px;height:100px; margin-right:10px;' src="/lib/img/K.png">

        <p>αλως ηρθατε στις σελιδες μου απο τις οποιες η εικονα αποτελει σταθμο της καλλτεχνικης
            μου διαδρομης.
            <br/>
            Η Ορθοδοξη Βυζαντινη εικονα και η τεχνη της αγιογραφιας, εχει τις ριζες<br/> της στην Βυζαντινη
            ζωγραφικη των
            εικονων . Αποκτα μοναδικο υφος και χαρη στην ιδιοφυΐα του εκαστου ζωγραφου, προσπαθωντας να ξεπερασει τα
            ορια της τεχνης του τοπου του και του καιρου του, ετσι ωστε η εικονα να μην ειναι μονο αφηγηματικη και
            διδακτικη αλλα και αντικειμενο λατρειας , μεχρι του σημειου να αποκτα κανεις την εντυπωση οτι σε αυτη
            υποτασσονται τα παντα, με το δε καλλος ως αρμονια να ερχεται σε δευτερη μοιρα .
        </p>
        <br/>

        <p style="text-indent: 50px;">Στην εικονα αντικριζουμε την υποσταση του σεσαρκωμενου Θεου Λογου,
            Ζωγραφισμενο επανω σε χρυσο καμπο , να εκφραζεται με τροπο εμφατικο.</p>
        <br/>

        <p style="text-indent: 50px;">Η επεξεργασια του χρωματος στην εικονα, κατα τα προτυπα των παλαιων Αγιογραφων
            μαζι με την ρευστη
            αποδοση
            της παλλομενης ανθρωπινης μορφης , φανερωνουν τα γνωρισματα του υφους μου. Χρωματα δουλευμενα με πυκνες
            πινελιες αναμιγνυονται .Η σαρκα πλαθεται προσπαθωντας να είναι καθρεφτης της εκκλησιαστικης μας ζωης και
            εικονουργωντας, να σαρκωσω τον εκκλησιαστικο Λογο χρωματουργικα .</p>
    </div>
    <div class="col-md-6">
        <img src="/lib/img/gavriil-optimized.jpg" class="img-responsive" alt="Image of Gavril"/>
    </div>
</div>