<div class="row" ng-controller="WoodPaintingCtrl as woodPaintingCtrl">

    <div class="col-sm-6 col-md-3 wood-painting-gallery" ng-repeat="woodPainting in woodPaintingCtrl.woodPaintings">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{ woodPainting.title }}</h3>

                <p>{{ woodPainting.description }}</p>
            </div>
            <a href="{{ woodPainting.images[0].full }}">
              aaaaaaaaaa
            </a>

            <!--<a href="app/img/material/stemfyla1.jpg" class="image-link" title="">-->
            <!--<img src="app/img/material/stemfyla1-lg.jpg" alt="Company working day image">-->
            <!--</a>-->
        </div>
    </div>

</div>
<!-- /.row -->
<a class="test-popup-link" href="/lib/img/pages/ksylo/gallery-thumb-1.png">Open popup</a>

<script>
    (function ()
    {
        // Create a single gallery from all elements that have class "wood-painting-gallery"
        $('.wood-painting-gallery').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type    : 'image',
            gallery : {
                enabled: true
            }
        });

        $('.test-popup-link').magnificPopup({
            type: 'image'
            // other options
        });
    })();
</script>